/* Created by: Savyon
* Created on: Mar 2023
* This CSS file defines the style for index.html
* ICS2O-Unit2-01-HTML-JS-HelloWorld
*/

body {
	background-color: lightblue;
}

h1 {
	background-color: rgb(255, 218, 216);
	color: hsl(0, 0%, 100%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #000000;
}